
body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 
}
.container {
	padding: 70px 60px;
}
/*header*/
.justify-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}
.logo {
	font-family: "Inconsolata";
	font-size: 30px;
	color: #000000;
}
.nav-ul{
	display: flex;
}

.nav-li{
	font-family: "Playfair Display";
	font-size: 14px;
	color: #626262;
	margin-right: 10px;
}
.nav-li {
	color:#3D58A6;
	font-size: 24px;
}
.nav-a {
	padding-left: 110px;
	font-size: 14px;
	font-family: "Playfair Display";
}

/*section */

.first-art img {
	padding-bottom: 100px;
}

.add-pad{
	padding: 0px 80px;
}
p {
	font-family: "Playfair Display";
	font-size: 14px;
	color: #626262;
}
h2 {
	font-family: "Playfair Display";
	font-size: 30px;
	color: #333333;
}
h3 {
	font-family: "Playfair Display";
	font-size: 30px;
	padding: 30px 0px;
	color: #626262;
}
h4 {
	font-family: "Ubuntu";
	font-size: 14px;
	padding-top: 75px;
	color: #B4AD9E;
}
.img {
	height: 280px;
	width: 419px;
}
p-under-img {
	width: 420px;
}
.flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.p {
	position: absolute;
}

.box p {
	margin-left: 15px;
}

/*footer*/

.footer {
	padding: 40px 70px 40px 140px; 
}
.footer-ul {
	display: flex;
}
.footer-a {
	padding-left: 20px;
}

.sign-up {
	padding-top: 50px;
}
.input-box {
	margin-bottom: 60px;
}
input[type=text] {
	position: relative;
	background-color: #E6E6E6; 
	border: none;
	border-bottom: 1px solid black;
	width: 399px;
	font-family: "Playfair Display";
	font-size: 14px;
	color: #626262;
	z-index: 10;
}
.bg-arrow {
	background-image: url(../img/Arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 32px;
	height: 17px;
	padding: 8px 0;
	z-index: 20;
}
.input-form	{
	position: relative;
	z-index: 10;
}
.container-input {
	width: 100%;
	height: 250px;
	background: #E6E6E6;
}
.container-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.input-box img {
	width: 20px;
	float: right; 
}
.d-in-b {
	display: inline-block;
}
.load-container {
	width: 100%
	height: 100px;
}
.center-center {
	display: flex;
	justify-content: center;
	align-content: center;
}
.back-color {
	width: 100%
	height: 100px;
	color: #F0F0F0;
}
.fb {
	width: 8px;
	height: 14px;
}
.tw {
	width: 18px;
	height: 13px;
}
.in {
	width: 15px; 
	height: 15px;
}
.footer-a-text {
	color: #000000;
	font-size: 14px;
}

